TOKEN_SECRET=token
APP_PORT=3000
ADMIN_EMAIL=test@test.fr
MAIL_SENDER=Nicolabot <nicolabot@nicolasdross.fr>
MAIL_HOOK='https://hook.fr'
NEWSLETTER_HOOK='https://newsletter.hook.fr'
ALLOWED_ORIGINS=https://test.origin1.fr,https://origin2.fr
PAGES_URL='https://pages.fr'
BETA_URL='https://beta.nicolasdross.fr'
