#permet aux navigateurs de se souvenir qu'il doit passer en https pour votre site (HSTS)
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=16006000; includeSubDomains; preload"
</IfModule>

#eviter le mixted content
Header always set Content-Security-Policy "upgrade-insecure-requests;"

#force la redirection en HTTPS
RewriteEngine on
RewriteCond %{SERVER_PORT} 80 [OR]
RewriteCond %{HTTP_HOST} ^nicolasdross\.com$ [NC]
RewriteCond %{HTTP_HOST} ^nicolasdross\.fr$ [NC]
RewriteRule ^(.*) https://www.nicolasdross.com/$1 [QSA,L,R=301]
