<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Nicolas DROSS - Pianiste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="js/lib/angular-locale_fr.js"></script>
  <script src="js/app.js"></script>
  <link href="img/favicon.png" rel="icon" type="image/x-icon"/>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="app">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Nicolas DROSS</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#music"><b><i style="color: orange; font-size: 17px" class="glyphicon glyphicon-volume-up"></i></b></a></li>
          <li><a href="#myPage">ACCUEIL</a></li>
          <li><a href="#band">BIOGRAPHIE</a></li>
          <li><a href="#studies">ÉTUDES</a></li>
          <li><a href="#tour">CONCERTS</a></li>
          <li><a href="#repertory">RÉPERTOIRE</a></li>
          <li class="dropdown" ng-controller="pagesCtrl"><a ng-if="pages.length > 0" class="dropdown-toggle" data-toggle="dropdown" href="#">GROUPES <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="page in pages"><a href="{{page.url}}">{{page.name}}</a></li>
            </ul>
          </li>
          <li><a href="#videos">VIDEOS</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li class="dropdown" ng-controller="linkCtrl"><a class="dropdown-toggle" data-toggle="dropdown" href="#">LIENS <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li ng-repeat="pl in personalLinks"><a target="_blank" href="{{pl.url}}">{{pl.name}}</a></li>
              <li><a href="#links">Autres</a>
            </ul></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="carouselCtrl">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li ng-repeat="img in carouselImg" data-target="#myCarousel" data-slide-to="{{$index}}" class="{{img.active}}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item {{img.active}}" ng-repeat="img in carouselImg">
        <img src="{{img.url}}" alt="{{img.url}}">
        <div class="carousel-caption">
          <h3>{{img.title}}</h3>
          <p>{{img.description}}</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span>
    </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="band" class="container text-center" ng-controller="bioCtrl">
    <h3>{{title}}</h3>
    <h2>
      <em>{{subtitle}}</em>
    </h2>
    <p ng-repeat="p in paragraphs">{{p}}</p>
  </div>

  <div id="studies" class="container text-center bg-1" ng-controller="studCtrl">
    <h3>{{title}}</h3>
    <p ng-repeat="p in paragraphs">{{p}}</p>
    <p style="text-align: left">
      <b>{{awards.title}}</b>
    </p>
    <p>
    <ul style="text-align: left">
      <li ng-repeat="award in awards.all">{{award}}</li>
    </ul>
    </p>
  </div>

  
  <div id="tour" ng-controller="tourCtrl">
    <div class="container">
      <h3 class="text-center">DATES DES CONCERTS</h3>
      <p class="text-center">
        Il va jouer de la musique.<br> Achetez vos tickets!
      </p>
      
      <div class="row text-center">
        <div class="col-sm-4" ng-repeat="concert in occList | filter: occIsOn">
          <div class="thumbnail">
            <a href="#{{concert.id}}"> <img src="{{concert.img}}" alt="{{concert.name}}">
              <p>
                <strong ng-if="concert.place || concert.city">{{concert.place}}, {{concert.city}}</strong><br> <b class="title">{{concert.name}}</b>
              </p>
              <p ng-if="!concert.noOccs">{{concert.date | date:'EEE dd MMMM yyyy'}} à {{concert.time}}</p></a> <a ng-show="concert.irUrl&&!concert.cancel" target="_blank" href="{{concert.irUrl}}" class="btn">Info réservation</a>
              <span ng-show="concert.cancel" class="label label-danger">Annulé</span>
              <span ng-if="concert.noOccs" class="label label-info">Prévu</span>
          </div>
        </div>
      </div>
      
      <h4 ng-show="concertList.filter(concertIsOn).length">A venir</h4>
      <span class="concertInfo" ng-repeat="concert in concertList | filter: concertIsOn">
      <p id="{{concert.id}}_avenir">
        <b>{{concert.name}}</b>
        <span ng-show="concert.info"><br><span style="font-style:italic; margin-left: 15px;">{{concert.info}}</span></span>
        <span ng-repeat="artist in concert.details.artists"><br>{{artist.name}}, {{artist.instrument}}</span>
      </p>
      <ul>
        <li ng-repeat="piece in concert.details.pieces">{{piece.composer}} – {{piece.title}}</li>
      </ul>
      <span ng-if="!concert.noOccs">
        <ul class="list-group">
          <li ng-repeat="occ in concert.occs" class="list-group-item">
            {{occ.date | date:'dd/MM/yyyy'}} : {{occ.place}}, {{occ.city}} <span ng-show="state(occ)=='on'">
              <span class="label label-success">À venir</span> <span ng-show="occ.irUrl" class="label "><a target="_blank" href="{{occ.irUrl}}">infos réservation</a></span> <span class="label " ng-if="occ.info"><a href="" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="{{occ.date | date:'dd/MM/yyyy'}}" data-content="{{occ.info}}">plus d'info...</a></span>
            </span>
            <span ng-show="state(occ)=='off'">
              <span ng-show="state(occ)=='off'" class="label label-warning">Terminé</span>
              <span ng-if="occ.photosUrl" class="label "><a target="_blank" href="{{occ.photosUrl}}">photos</a></span>
            </span>
            <span ng-show="state(occ)=='cancel'" class="label label-danger">Annulé</span>
          </li>
        </ul>
      </span>
      <span ng-if="concert.noOccs">
        <span ng-if="concert.noOccs" class="label label-info">Prévu</span>
      </span>
      </span>

      <h4>Solo</h4>
      <span class="concertInfo" ng-repeat="concert in concertList | orderBy:'-' | filter: {type:  'Solo'}">
      <p id="{{concert.id}}">
        <b>{{concert.name}}</b>
        <span ng-show="concert.info"><br><span style="font-style:italic; margin-left: 15px;">{{concert.info}}</span></span>
        <span ng-repeat="artist in concert.details.artists"><br>{{artist.name}}, {{artist.instrument}}</span>
      </p>
      <ul>
        <li ng-repeat="piece in concert.details.pieces">{{piece.composer}} – {{piece.title}}</li>
      </ul>
      <span ng-if="!concert.noOccs">
        <ul class="list-group">
          <li ng-repeat="occ in concert.occs" class="list-group-item">
            {{occ.date | date:'dd/MM/yyyy'}} : {{occ.place}}, {{occ.city}} <span ng-show="state(occ)=='on'">
              <span class="label label-success">À venir</span> <span ng-show="occ.irUrl" class="label "><a target="_blank" href="{{occ.irUrl}}">infos réservation</a></span> <span class="label " ng-if="occ.info"><a href="" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="{{occ.date | date:'dd/MM/yyyy'}}" data-content="{{occ.info}}">plus d'info...</a></span>
            </span>
            <span ng-show="state(occ)=='off'">
              <span ng-show="state(occ)=='off'" class="label label-warning">Terminé</span>
              <span ng-if="occ.photosUrl" class="label "><a target="_blank" href="{{occ.photosUrl}}">photos</a></span>
            </span>
            <span ng-show="state(occ)=='cancel'" class="label label-danger">Annulé</span>
          </li>
        </ul>
      </span>
      <span ng-if="concert.noOccs">
        <span ng-if="concert.noOccs" class="label label-info">Prévu</span>
      </span>
      </span>
      
      <p>
        <b>Au fil de l’eau</b>
      </p>
      <ul>
        <li>T. Takemitsu – Rain Tree Sketch II</li>
        <li>L. Berio – Wasserklavier</li>
        <li>M. Ravel – Ondine, Une barque sur l’océan, Jeux d’eau</li>
        <li>C. Debussy – Reflets dans l’eau, Poissons d’or</li>
        <li>A. Scriabine – Sonate n°2 (Sonate-Fantaisie)</li>
        <li>C. Scott – Lotus Land op.47 n°1</li>
        <li>F. Liszt – Au bord d’une source</li>
        <li>J.-P. Rameau – Les tourbillons</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">07/09/2017 : Petit Palais, Paris <span class="label label-warning">Terminé</span></li>
        <li class="list-group-item">28/08/2017 : Château Malmont, Villeneuvette <span class="label label-warning">Terminé</span></li>
      </ul>

      <p>
        <b>Contraintes libératrices</b>
      </p>
      <ul>
        <li>J.-S. Bach – Chromatische Fantasie und Fuge</li>
        <li>R. Schumann – Carnaval op.9</li>
        <li>E. Satie – Avant-dernières pensées</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">21/12/2016 : Hôtel Magnol, Montpellier <span class="label label-warning">Terminé</span></li>
      </ul>

      <p>
        <b>Concert de piano</b>
      </p>
      <ul>
        <li>A. Scriabine – Sonate n°2 (Sonate-Fantaisie</li>
        <li>S. Rachmaninov – Prélude op.23 n°6, Études-tableaux op.33 n°2 et 6</li>
        <li>M. Ravel – Valses nobles et sentimentales</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">10/10/2015 : Château Saint-Martin de la Garrigue, Montagnac <span class="label label-warning">Terminé</span></li>
      </ul>

      <h4 id="ephemere">Duo/Trio Éphémère</h4>

      <p>
        <b>Trio avec Charlotte Saluste-Bridoux et Frankie Carr</b>
      </p>
      
      <span class="concertInfo" ng-repeat="concert in concertList | orderBy:'-' | filter: {type:  'Trio éphémère'}">
      <p id="{{concert.id}}">
        <b>{{concert.name}}</b>
        <span ng-show="concert.info"><br><span style="font-style:italic; margin-left: 15px;">{{concert.info}}</span></span>
        <span ng-repeat="artist in concert.details.artists"><br>{{artist.name}}, {{artist.instrument}}</span>
      </p>
      <ul>
        <li ng-repeat="piece in concert.details.pieces">{{piece.composer}} – {{piece.title}}</li>
      </ul>
      <span ng-if="!concert.noOccs">
        <ul class="list-group">
          <li ng-repeat="occ in concert.occs" class="list-group-item">
            {{occ.date | date:'dd/MM/yyyy'}} : {{occ.place}}, {{occ.city}} <span ng-show="state(occ)=='on'">
              <span class="label label-success">À venir</span> <span ng-show="occ.irUrl" class="label "><a target="_blank" href="{{occ.irUrl}}">infos réservation</a></span> <span class="label " ng-if="occ.info"><a href="" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="{{occ.date | date:'dd/MM/yyyy'}}" data-content="{{occ.info}}">plus d'info...</a></span>
            </span>
            <span ng-show="state(occ)=='off'">
              <span ng-show="state(occ)=='off'" class="label label-warning">Terminé</span>
              <span ng-if="occ.photosUrl" class="label "><a target="_blank" href="{{occ.photosUrl}}">photos</a></span>
            </span>
            <span ng-show="state(occ)=='cancel'" class="label label-danger">Annulé</span>
          </li>
        </ul>
      </span>
      <span ng-if="concert.noOccs">
        <span ng-if="concert.noOccs" class="label label-info">Prévu</span>
      </span>
      </span>

      <ul>
        <li>Ravel - Trio</li>
        <li>Schubert - Trio no.2 op.100, D.929</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">21/12/2017 : Chapelle des Jésuites, Carcassonne <span class="label label-warning">Terminé</span></li>
      </ul>

      <p>
        <b>Violon et piano avec Charlotte Saluste-Bridoux</b>
      </p>
      
      <span class="concertInfo" ng-repeat="concert in concertList | orderBy:'-' | filter: {type:  'Duo éphémère'}">
      <p id="{{concert.id}}">
        <b>{{concert.name}}</b>
        <span ng-show="concert.info"><br><span style="font-style:italic; margin-left: 15px;">{{concert.info}}</span></span>
        <span ng-repeat="artist in concert.details.artists"><br>{{artist.name}}, {{artist.instrument}}</span>
      </p>
      <ul>
        <li ng-repeat="piece in concert.details.pieces">{{piece.composer}} – {{piece.title}}</li>
      </ul>
      <span ng-if="!concert.noOccs">
        <ul class="list-group">
          <li ng-repeat="occ in concert.occs" class="list-group-item">
            {{occ.date | date:'dd/MM/yyyy'}} : {{occ.place}}, {{occ.city}} <span ng-show="state(occ)=='on'">
              <span class="label label-success">À venir</span> <span ng-show="occ.irUrl" class="label "><a target="_blank" href="{{occ.irUrl}}">infos réservation</a></span> <span class="label " ng-if="occ.info"><a href="" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="{{occ.date | date:'dd/MM/yyyy'}}" data-content="{{occ.info}}">plus d'info...</a></span>
            </span>
            <span ng-show="state(occ)=='off'">
              <span ng-show="state(occ)=='off'" class="label label-warning">Terminé</span>
              <span ng-if="occ.photosUrl" class="label "><a target="_blank" href="{{occ.photosUrl}}">photos</a></span>
            </span>
            <span ng-show="state(occ)=='cancel'" class="label label-danger">Annulé</span>
          </li>
        </ul>
      </span>
      <span ng-if="concert.noOccs">
        <span ng-if="concert.noOccs" class="label label-info">Prévu</span>
      </span>
      </span>
      
      <ul>
        <li>Beethoven – Sonate pour violon et piano no.3</li>
        <li>Brahms – Sonate pour piano et violon no.3</li>
        <li>Szymanowski – Mythes</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">02/02/2019 19h :  Hôtel Magnol, Montpellier <span class="label label-danger">Annulé</span></li>
      </ul>
      
      <ul>
        <li>Beethoven – Sonate no.10 op.96</li>
        <li>Grieg – Sonate no.2 op.13</li>
        <li>Ravel – Sonate en Sol</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">28/10/2017 : Hôtel Magnol, Montpellier <span class="label label-warning">Terminé</span></li>
        <li class="list-group-item">29/09/2017 : Château Rieutort, Saint-Pargoire <span class="label label-warning">Terminé</span></li>
        <li class="list-group-item">23/08/2017 : Château Cicéron, Ribaute <span class="label label-warning">Terminé</span></li>
      </ul>

      <ul>
        <li>L.V. Beethoven – Sonate n°8 en sol majeur, op.30 n°3</li>
        <li>R. Schumann – Fantasie en ut majeur, op.131</li>
        <li>G. Enescu – Sonate n°3 en la mineur</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">09/08/2016 : Château Planères, Saint-Jean-Lasseille <span class="label label-warning">Terminé</span></li>
      </ul>

      <ul>
        <li>Bach – Sonate pour violon et clavecin BWV 1018</li>
        <li>Brahms – Sonate pour piano et violon no.3 op.108</li>
        <li>Ravel – Sonate en sol</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">14/08/2015 : Château de Cassan, Roujan <span class="label label-warning">Terminé</span></li>
      </ul>
      
      <h4>Musique vocale et spectacles</h4>
      
      <span class="concertInfo" ng-repeat="concert in concertList | orderBy:'-' | filter: {type:  'Musique vocale et spectacles'}">
      <p id="{{concert.id}}">
        <b>{{concert.name}}</b>
        <span ng-show="concert.info"><br><span style="font-style:italic; margin-left: 15px;">{{concert.info}}</span></span>
        <span ng-repeat="artist in concert.details.artists"><br>{{artist.name}}, {{artist.instrument}}</span>
      </p>
      <ul>
        <li ng-repeat="piece in concert.details.pieces">{{piece.composer}} – {{piece.title}}</li>
      </ul>
      <span ng-if="!concert.noOccs">
        <ul class="list-group">
          <li ng-repeat="occ in concert.occs" class="list-group-item">
            {{occ.date | date:'dd/MM/yyyy'}} : {{occ.place}}, {{occ.city}} <span ng-show="state(occ)=='on'">
              <span class="label label-success">À venir</span> <span ng-show="occ.irUrl" class="label "><a target="_blank" href="{{occ.irUrl}}">infos réservation</a></span> <span class="label " ng-if="occ.info"><a href="" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="{{occ.date | date:'dd/MM/yyyy'}}" data-content="{{occ.info}}">plus d'info...</a></span>
            </span>
            <span ng-show="state(occ)=='off'">
              <span ng-show="state(occ)=='off'" class="label label-warning">Terminé</span>
              <span ng-if="occ.photosUrl" class="label "><a target="_blank" href="{{occ.photosUrl}}">photos</a></span>
            </span>
            <span ng-show="state(occ)=='cancel'" class="label label-danger">Annulé</span>
          </li>
        </ul>
      </span>
      <span ng-if="concert.noOccs">
        <span ng-if="concert.noOccs" class="label label-info">Prévu</span>
      </span>
      </span>
      
      <p id="rchant">
        <b>Récital de chant</b><br> Solène Lorent et Adèle Clermont, soprani<br> Nicolas Dross, piano
      </p>
      <ul>
        <li>Mélodies, airs d'opéra romantiques français et allemands</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">28/01/2019 à 19h : Paris (Conservatoire à rayonnement régional, salle Gabriel Fauré) <span class="label label-warning">Terminé</span></li>
      </ul>

      <p id="rossini">
        <b>Concert Rossini</b><br> Lalaïna Garreta, soprano<br> Nicolas Dross, piano et <br> Masako Miyako, clarinettiste
      </p>
      <ul>
        <li>Una voce poco fa, air extrait du Barbier de Séville de Rossini</li>
        <li>La promessa, extrait des Soirées musicales de Rossini</li>
        <li>La ricordanza, des 4 sonnets de Bellini</li>
        <li>Quelques riens pour album de Rossini</li>
        <li>Fantaisie pour clarinette de Rossini</li>
        <li>Introduction, thème et variation pour clarinette de Rossini</li>
        <li>Pot-pourri “Rossini à l'Opéra”</li>
      </ul>
      <ul class="list-group" id="winterreise">
        <li class="list-group-item">27/01/2019 à 17h : Rueil Malmaison (château de la petite Malmaison) <span class="label label-warning">Terminé</span></li>
      </ul>
      
      <p>
        <b>Au salon d'Augusta Holmès</b><br> <a target="_blank" href="http://www.agence-annealvarescorrea.com/artiste.cfm/33155-brigitte_fossey.html">Brigitte Fossey</a>, comédienne<br> <a target="_blank" href="https://www.operamusica.com/artist/natacha-hummel/">Natacha Hummel</a> , mezzo-soprano<br> <a target="_blank" href="https://www.operamusica.com/artist/lauriane-vidal/">Lauriane Vidal</a>, soprano<br> Nicolas Dross, pianiste<br>
      </p>
      <ul>
        <li>Œuvres d’ A. Holmès, C. Saint-Saëns, J. Massenet, F. Liszt et C. Franck.</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">07/10/2018 : Salle Ravel, Levallois <span class="label label-warning">Terminé</span></li>
        <li class="list-group-item">16/03/2018 : Salon de l'Hôtel de Ville, Versailles <span class="label label-warning">Terminé</span></li>
      </ul>

      <p>
        <b>Les Femmes Compositrices</b><br> <a target="_blank" href="https://www.operamusica.com/artist/natacha-hummel/">Natacha Hummel</a> , mezzo-soprano<br> Anaëlle Gregorutti, soprano<br> Nicolas Dross et <a target="_blank" href="http://www.isabelle-aboulker.com/">Isabelle Aboulker</a> , piano<br>
      </p>
      <ul>
        <li>Clara Schumann, Pauline Viardot, Maria Malibran, Augusta Holmes et Isabelle Aboulker</li>
      </ul>
      <ul class="list-group" id="winterreise">
        <li class="list-group-item">21/11/2018 : MINES ParisTech <span class="label label-warning">Terminé</span></li>
        <li class="list-group-item">4/09/2017 : MINES ParisTech <span class="label label-warning">Terminé</span></li>
      </ul>
      <p>
        <b>Winterreise</b><br> <a target="_blank" href="https://www.maison-heinrich-heine.org/intervenant/myrianne-fleur-le-ralle-soprano">Myrianne-Fleur Le Ralle</a>, soprano<br> <a target="_blank" href="https://www.maison-heinrich-heine.org/intervenant/j/alexandre-jamar-tenor">Alexandre Jamar</a>, tenor<br> <a target="_blank" href="http://www.paletuviens.fr/halidou-nombre">Halidou Nombre</a>, baryton<br> <a target="_blank" href="https://www.collectiflacapsule.com/paul-meynieux/">Paul Meynieux</a>, mise en scène<br>
      </p>
      <ul class="list-group">
        <li class="list-group-item">27/01/2018 : Maison Heinrich Heine, Paris <span class="label label-warning">Terminé</span> <span class="label "><a target="_blank" href="https://www.maison-heinrich-heine.org/manifestations-culturelles/2018/janvier/die-winterreise#gallery-1-picture-0">photos</a></span></li>
        <li class="list-group-item">20/01/2018 : Fondation Biermans-Lapôtre <span class="label label-warning">Terminé</span></li>
        <li class="list-group-item">11/01/2018 : Conservatoire Paul Dukas <span class="label label-warning">Terminé</span></li>
      </ul>
    </div>
  </div>

  <div id="repertory" class="container bg-1" ng-controller="repertoryCtrl">
    <h3 class="text-center">RÉPERTOIRE</h3>
    
    <div ng-repeat="group in repertory">
      <h4>{{group.title}}</h4>
      <div ng-repeat="item in group.items">
        <p ng-if="item.title">
          <b>{{item.title}}</b>
        </p>
        <ul>
          <li ng-repeat="el in item.list">{{el}}</li>
        </ul>
      </div>
    </div>

  </div>

  <div id="compos" class="container" ng-controller="tourCtrl">
    <h3 class="text-center">COMPOSITION</h3>

    <span class="concertInfo" ng-repeat="concert in concertList | orderBy:'-' | filter: {type:  'Composition'}">
      <p id="{{concert.id}}">
        <b>{{concert.name}}</b>
        <span ng-show="concert.info"><br><span style="font-style:italic; margin-left: 15px;">{{concert.info}}</span></span>
        <span ng-repeat="artist in concert.details.artists"><br>{{artist.name}}, {{artist.instrument}}</span>
      </p>
      <ul>
        <li ng-repeat="piece in concert.details.pieces">{{piece.composer}} – {{piece.title}}</li>
      </ul>
      <span ng-if="!concert.noOccs">
        <ul class="list-group">
          <li ng-repeat="occ in concert.occs" class="list-group-item">
            {{occ.date | date:'dd/MM/yyyy'}} : {{occ.place}}, {{occ.city}} <span ng-show="state(occ)=='on'">
              <span class="label label-success">À venir</span> <span ng-show="occ.irUrl" class="label "><a target="_blank" href="{{occ.irUrl}}">infos réservation</a></span> <span class="label " ng-if="occ.info"><a href="" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="{{occ.date | date:'dd/MM/yyyy'}}" data-content="{{occ.info}}">plus d'info...</a></span>
            </span>
            <span ng-show="state(occ)=='off'">
              <span ng-show="state(occ)=='off'" class="label label-warning">Terminé</span>
              <span ng-if="occ.photosUrl" class="label "><a target="_blank" href="{{occ.photosUrl}}">photos</a></span>
            </span>
            <span ng-show="state(occ)=='cancel'" class="label label-danger">Annulé</span>
          </li>
        </ul>
      </span>
      <span ng-if="concert.noOccs">
        <span ng-if="concert.noOccs" class="label label-info">Prévu</span>
      </span>
    </span>
    
    <span class="concertInfo">
      <p>
        <b>Participation en tant que compositeur</b><br> Piano Orchestra
      </p>
      <ul class="list-group">
        <li class="list-group-item">Dimanche 7 avril 2019 — 15h00, cité de la musique <span class="label label-warning">Terminé</span> <span class="label"><a target="_blank" href="https://philharmoniedeparis.fr/fr/activite/concert-performance/19353-piano-orchestra">info réservation</a></span></li>
      </ul>
    </span>
  </div>

  <div id="videos" class="bg-1" ng-controller="videosCtrl">
    <div class="container">
      <h3 class="text-center">Vidéos</h3>

      <div class="row text-center">
        <div ng-repeat="video in videos" class="col-sm-4">
          <div class="thumbnail">
            <a target="_blank" href="{{video.url}}">
            <img src="{{video.img}}" alt="{{video.alt}}">
              <p>
                <strong>{{video.title}}</strong><br> <b>{{video.subtitle}}</b>
              </p>
              <p>{{video.description}}</p>
              <ul ng-if="video.list && video.list.length" style="text-align: left">
                <li ng-repeat="el in video.list">{{el}}</li>
              </ul></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" ng-controller="contactCtrl" class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center">
      <em>On adore Nicolas !</em>
    </p>
    <div class="row test">
      <div class="col-md-4">
        <p>Fan ? Laissez un message !</p>
        <div id="sendSuccess" class="alert alert-success" ng-if="sendSuccess">
          <strong>Envoyé !</strong> Message envoyé avec succès.
        </div>
        <div id="sendError" class="alert alert-danger" ng-if="sendError">
          <strong>Erreur !</strong> Le message n'a pas été envoyé : {{sendError}}
        </div>
        <p ng-if="!nbMessages">Aucun message envoyé pour l'instant.<br>Envoyez le premier !</p>
        <p ng-if="nbMessages === 1">Un message envoyé.</p>
        <p ng-if="nbMessages > 1">{{nbMessages}} messages envoyés.</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nom" type="text" ng-model="name" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" ng-model="email" required>
          </div>
        </div>
        <textarea class="form-control" id="message" name="message" placeholder="Commentaire" ng-model="message" rows="5"></textarea>
        <div class="row">
          <div class="col-md-12 form-group">
            <button id="sendbtn" ng-disabled="!message || loading" class="btn pull-right" ng-click="sendMessage()">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="newsletter"></div>

  <div id="links" class="container bg-1" ng-controller="linkCtrl">
    <h3 class="text-center">Liens</h3>
    <!--  perso -->
    <h4>Liens personnels</h4>
    <ul>
      <li ng-repeat="pl in personalLinks"><a target="_blank" href="{{pl.url}}">{{pl.name}}</a></li>
    </ul>
    <div class="row">
      <!-- autres -->
      <div class="col-sm-6">
        <h4>Liens autres</h4>
        <ul>
          <li ng-repeat="l in otherLinks"><a target="_blank" href="{{l.url}}">{{l.name}}</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <!-- presse -->
        <h4>Presse</h4>
        <ul>
          <li ng-repeat="ml in mediaLinks"><a target="_blank" href="{{ml.url}}">{{ml.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="music" class="container">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/575613921&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/nicolas-dross-587682986" title="Nicolas Dross" target="_blank" style="color: #cccccc; text-decoration: none;">Nicolas Dross</a> · <a href="https://soundcloud.com/nicolas-dross-587682986/sets/piano" title="Piano" target="_blank" style="color: #cccccc; text-decoration: none;">Piano</a></div>
  </div>

  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="HAUT DE PAGE"> <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br> <br>
    <p id="photocreds">
      Le crédit des photographies présentes sur ce site reviennent à : 
      François Henry - Masterclass Cyril Huvé,
      Elisabeth Villefranche - Récital au Petit Palais,
      Hugues Tenenbaum - spectacle Au salon d'Augusta Holmès (Versailles),
      Joseph Kerr - Trio Vicente Hatria (Fontainebleau),
      Le Berry Républicain - Subdray,
      Bernard Dross.
    </p>
    <p>
      <a target="_blank" href="https://levg34.github.io" data-toggle="tooltip" title="Visitez mon site">Auteur du site internet : levg34</a>
    </p>
  </footer>

  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-bootstrap@0.33.1/dist/react-bootstrap.min.js" crossorigin></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
